*{
    margin:0;
    padding:0;
}

.navbar{
    background-color: black;
    height:10vh;
    color:white;
    display: flex;
    justify-content: space-between;
}
#logo{
    background-image: url("../logo.png");
    width:24vw;
    height:8vh;
    margin-top:1vw
}
#searchbar input{
    margin-top: 1.5vw;
    margin-right:3vw;
    height:4vh;
    width:30vw;
    padding-left:1vw;
    font-size:1.2vw;
}
.loginout button{
    margin:1vw;
    width:8vw;
    height:3vw;
    font-size:1.25vw;
    border-radius: 0.75vw;
    border: 0.20vw solid black;
    background-color: rgba(255, 255, 255, 0.388);
    cursor: pointer;
}
.loginout button:hover{
    border: 0.20vw solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.579);
    color:white;
}
.loginout button:active{
    background-color: rgba(111, 111, 111, 0.64);
}
#login{
    margin-right:-9vw;
}
#logout{
    margin-right:2vw;
}
.aboutus{
    position:absolute;
   text-align: center;
   width:50vw;
   height:50vh;
   top:17vw;
   left:23vw;
   right:10vw;
   padding:1vw;
   background-color: rgba(240, 255, 255, 0.464);
   border-radius:0.75vw;
  box-shadow: 2px 2px 3px 2px rgba(255, 255, 255, 0.593);
}
.aboutus h1{
    font-size:4vw;
    padding:1vw;
    font-style: italic;
}
.aboutus p{
    font-size: 1.75vw;
    width:45vw;
   left:2vw;
    font-weight: 100;
    font-family:'Times New Roman', Times, serif ;
}
.form{
    position: relative;
    top:-15vw;
   
}
.form p{
    font-size:1.25vw;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
    text-align: center;
}
.form button{
    margin-top: 2vw;
    margin-left: 45vw;
    width:9vw;
    height:3vw;
    font-size:1.5vw;
    border-radius: 0.75vw;
    border: 0.20vw solid black;
    background-color: rgba(255, 255, 255, 0.388);
    cursor: pointer;
}
.form button:hover{
    border: 0.20vw solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.579);
    color:white;
}
.form button:active{
    background-color: rgba(111, 111, 111, 0.64);
}
.dropdown p{
    color:white;
    text-align: center;
    font-size:2vw;
    margin-top:-3vw;
}
.dropdown select{
    margin-left:44vw;
    margin-top: 2vw;
    margin-bottom:2vw;
    padding:0.45vw;
    width: 10vw;
    height:7vh;
    text-align:center;
    font-size:1.25vw;
    font-weight: 600;
    border-radius: 0.5vw;
    background-color: rgb(140, 195, 244);
    border: 0.25vw solid rgb(132, 130, 130);
    color:rgb(52, 50, 50);
}
.dropdown select:hover{
    background-color:rgba(2, 2, 99, 0.915);
    border: 0.25vw solid white;
    color:white;
}
.dropdown select:active{
    background-color: rgb(140, 195, 244);
    border:0.25vw solid rgb(65, 65, 65);
    color:white;
}
