*{
    margin:0;
    padding:0;
}

.navbar{
    background-color: black;
    height:10vh;
    color:white;
    display: flex;
    justify-content: space-between;
}
#logo{
    background-image: url("../logo.png");
    width:24vw;
    height:8vh;
    margin-top:1vw
}
#searchbar input{
    margin-top: 1.5vw;
    margin-right:3vw;
    height:4vh;
    width:30vw;
    padding-left:1vw;
    font-size:1.2vw;
}
.aboutus{
    position:absolute;
   text-align: center;
   width:50vw;
   height:50vh;
   top:17vw;
   left:23vw;
   right:10vw;
   padding:1vw;
   background-color: rgba(240, 255, 255, 0.464);
   border-radius:0.75vw;
  box-shadow: 2px 2px 3px 2px rgba(255, 255, 255, 0.593);
}
.aboutus h1{
    font-size:4vw;
    padding:1vw;
    font-style: italic;
}
.aboutus p{
    font-size: 1.75vw;
    width:45vw;
   left:2vw;
    font-weight: 100;
    font-family:'Times New Roman', Times, serif ;
}
