
body {
    font-family: Arial, sans-serif;
}
.navbar{
  background-color: black;
  height:10vh;
  color:white;
  display: flex;
  justify-content: space-between;
}
#logo{
  background-image: url("../logo.png");
  width:24vw;
  height:8vh;
  margin-top:1vw
}
#searchbar input{
  margin-top: 1.5vw;
  margin-right:3vw;
  height:4vh;
  width:30vw;
  padding-left:1vw;
  font-size:1.2vw;
}




.loginout button{
  margin:1vw;
  width:8vw;
  height:3vw;
  font-size:1.25vw;
  border-radius: 0.75vw;
  border: 0.20vw solid black;
  background-color: rgba(255, 255, 255, 0.388);
  cursor: pointer;
}
.loginout button:hover{
  border: 0.20vw solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.579);
  color:white;
}
.loginout button:active{
  background-color: rgba(111, 111, 111, 0.64);
}
#login{
  margin-right:-9vw;
}
#logout{
  margin-right:2vw;
}
h2 {
  color:white;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
  form {
    color:White;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color:rgba(255, 255, 255, 0.374);
    padding:5vw;
    border-radius:2vw;
  }
  
  label {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  textarea {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  button[type="submit"] {
    margin-top:2vw;
    margin-left:10vw;
    padding:10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }

